1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

* is  mathematical operator for Multiplication

In [4]:
3*3

9

In [2]:
#String
type('hello')

str

In [3]:
#Float
type(-87.8)

float

- is mathematical operator for Subtraction

In [6]:
7-4

3

/ is mathematical operator for division

In [7]:
5/2

2.5

+ is mathematical operator for addition

In [8]:
4+5

9

In [9]:
#Integer
type(6)

int

2. What is the difference between string and variable?

In [ ]:
String is a datatype which represent character and text data but variable is a name of a memory address which can store value.

3. Describe three different data types.

DataTypes are String,Integer,Float,Boolean
 String store character and text type data
 Integer store number type data
 Float store decimal type data
 Boolean store True and False

4. What is an expression made up of? What do all expressions do?

Expression is a combination of values,operators,variable and functions. after evaluation it is always return a value.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
Expression always return a value, but statement not return a value

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [24]:
# bacon will contain 22 because increase by 1 not store in bacon

bacon = 22
bacon + 1
print(bacon)

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [23]:
# Both terms output will same

print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

In [1]:
#Python variable name start with a character or underscore.For that reason eggs is a valid variable name and 100 is invalid
eggs=10
eggs

10

In [1]:
100=12

SyntaxError: cannot assign to literal (<ipython-input-1-02e4d1e51312>, line 1)

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [20]:
# int(),float(),str() these three function are used to get integer,float and string value

a=int('7')
print(type(a))
b=float(a)
print(type(b))
c=str(a)
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 +'burritos.'

In [10]:
'I have eaten '+ 99 +' burritos.'

TypeError: can only concatenate str (not "int") to str

Concatenation operation perform between string but here 99 is in Integer datatype.for that reson it provide error.
for execution we need to convert 99 integer to string.

In [13]:
'I have eaten '+ str(99) +' burritos.'

'I have eaten 99 burritos.'